<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 등록</title>
</head>
<body>

    <h1>책 등록</h1>
    
    <form action="/library/enrollment" method="POST">
        제목 : <input type="text" name="bookTitle">
        글쓴이 : <input type="text" name="bookWriter">
        
        가격 : <input type="number" name="bookPrice">
        <button>등록하기</button>
    </form>


</body>
</html>